/*
!.gitignore
!hypr/
!wofi/
!waybar/
!flameshot/
!rofi/
!kitty/
!alacritty/
!nvim/
!wlogout/
!swaync/
!zsh(copy)/
!zed/
!libinput-gestures.conf
!niri/
!noctalia/
!sway/
!picom/
!polybar/
!awesome/
!bspwm/
!sxhkd/
!qtile/
!wayfire.ini
!btop/
!cava/
