* {
    font-family: monospace;
    font-size: 14px;
    color: #ffffff;
}

#waybar {
    background: #111111;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ffffff;
}

#workspaces button.active {
    background: #285577;
    border-radius: 5px;
}

#clock,
#cpu,
#network,
#bluetooth,
#memory,
#custom-powermenu,
#hyprland-language,
#battery,
#tray {
    padding: 0 10px;
}
