* {
    font-family: monospace;
    font-size: 14px;
    color: #ffffff;
}

#waybar {
    background: transparent;
    /*background: #000000;
    border-radius: 10px;*/
}

.modules-left {
    padding-left: 10px;
}

.modules-center {
    background-color: #151719;
    border-radius: 10px;
}

.modules-right {
    padding-right: 3px;
    border-radius: 10px;
    background-color: #151719;
}

#workspaces {
    border-radius: 10px;
    background-color: #151719;
}

#workspaces button {
    border-radius: 10px;
    padding: 0 5px;
    min-width: 20px;
    min-height: 25px;
    background: transparent;
    color: #ffffff;
}

#workspaces button.active {
    background: #25a2d8;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #25a2d8;
    border-radius: 10px;
}

#clock,
#cpu,
#network,
#bluetooth,
#memory,
#custom-powermenu,
#hyprland-language,
#pulseaudio,
#battery,
#tray {
    padding: 0 10px;
}

#pulseaudio {
    background-color: #151719;
    border-radius: 10px;
    opacity: 0.8;
    color: #ffffff;
}

#pulseaudio-slider {
    min-width: 100px;
    padding: 0 5px;
    margin: 0 5px;
}
