window {
    margin: 0px;
    border: 2px solid #89b4fa;
    background-color: #282828;
    border-radius: 10px;
}

#input {
    margin: 5px;
    border: none;
    color: #ebdbb2;
    background-color: #1d2021;
    border-radius: 5px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ebdbb2;
}

#entry {
    border: none;
    border-radius: 5px;
}

#entry:selected {
    background-color: #89b4fa;
}

#entry:selected #text {
    color: #282828;
}

window {
    margin: 0px;
    border: 2px solid #89b4fa;
    background-color: #282828;
    border-radius: 10px;
    font-family: "Fira Code Nerd Font"; /* Важно: используй Nerd Font */
}

#input {
    margin: 5px;
    border: none;
    color: #ebdbb2;
    background-color: #1d2021;
    border-radius: 5px;
}

#entry {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}
